{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="landing-page text-center">
    <div class="title-text">
        <p>Hey there! This is</p>
        <h1>Anonism</h1>
        <p>you're welcome</p>
    </div>
    <h5>100% Anonymous Confessions</h5>
    <p class="landing-note">The confessions are completely anonymous. Not even the developers can tell who wrote it. We use college email ID for authentication just to ensure outsiders cannot read/write confessions.</p>
    <a href="/login" id="login-button">LOGIN</a>
    <a href="/about" id="login-button">ABOUT</a>
    
</div>
{% endblock content %}